.slider,
.slider__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}



.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;
  border-top: 3px solid $white;
  font-size: 18px;
  color: $white;
  text-transform: uppercase;
  opacity: .7;

  &.active:before {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 3px;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: $red;
  }

  b {
    font-weight: 700;
  }

}

.active {
    opacity: 1;
  }