.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 55px;
  height: 55px;
  padding: 10px 10px 5px;
  border-right: 1px solid $red;
  line-height: 1;
  background-color: $orange;
  text-decoration: none;
  fill: $red;

  transition: background .1s linear, color .1s;

  &:last-child {
    border-right: 0;
  }

  &:hover {
    fill: $orange;
    background-color: $red;
  }
}

.social__img {
  margin-top: 7px;
}

.social__img--margin {
    margin-top: 5px;
}