.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  padding: 70px 25px;
  flex-direction: column;
  flex: 1 1 0;
  border-left:  solid 1px #b5eae0;
}

.stat__item:last-child {
  border-right: 1px solid  #b5eae0;
}

.stat__count {
  margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: $white;
    line-height: 1;
  }

  .stat__text {
    font-size: 14px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }