.works {
  display: flex;
  margin: 40px 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to bottom, #f38181, #fce38a);

  &:hover {

    .works__image {
      opacity: .1;
    }

    .works__info {
      opacity: 1;
    }
  }
}

.works__col {
  flex: 1 1 1;
}

.works__image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity .1s linear;
}

.works__info {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  text-align: center;
  color: $white;
  transform: translate3d(0, -50%);
  opacity: 0;
  transition: opacity .2s linear;
}

.works__title {
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.works__text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}